
#menubar {
	position: relative;
	padding: 0px;
	display: block;
	background-color: grey;
	font-family: "Helvetica";
}

#menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

#menubar li {
    float: left;
}

#menubar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menubar li a:hover:not(.active) {
    background-color: #ddd;
}

#menubar li a.active {
    color: white;
    background-color: #4CAF50;
}

#menubar ul ul{
	display: none;
	position: absolute;
    	background-color: #f9f9f9;
    	min-width: 160px;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#menubar ul ul:hover {
	display: block;
}




#menubar ul ul li a:hover {
	background-color: grey;
	color: white;
}
